* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
    font-family: Arial, serif;
}

body {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 3px 3px lightgrey;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-info {
    text-align: right;
}

.header-info a:hover {
    color: gray;
}

.main-slider {
    height: 300px;
    background-size: cover;
    background: url("../images/slider.jpg") center;
}

.main-menu {
    position: relative;
    padding: 0 120px;
    box-shadow: 0 1px 2px 2px lightgray;
    height: 48px;
    z-index: 999;
}

.main-menu > ul {
    display: flex;
    justify-content: space-between;
}

.main-menu > ul > li > a > span {
    display: none;
}

.main-menu > ul > li li > a > span {
    float: right;
    color: gray;
}

.main-menu li {
    list-style-type: none;
}

.main-menu li > a {
    display: block;
    padding: 15px 15px;
}

.main-menu li > a:hover {
    background-color: lightgrey;
}

.main-menu li > ul {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 2px 2px lightgrey;
}

.main-menu li:hover > ul {
    display: block;
}

.main-menu > ul > li > ul > li  ul {
    margin-top: -48px;
    left: 200px;
}

.body {
    padding: 15px;
}

.body-title {
    margin: 15px 0;
}

.body-slider {
    margin: 15px 0;
    box-shadow: 0 0 2px 2px lightgrey;
}

.body-slider-preview {
    width: 100%;
    height: 500px;
    background: url("../images/sub-slider2.png");
    background-size: cover;
}